<div class="footer-body">
    <div class="footer-container">
        <div class="footer-item"><img class="footer-logo" src="{{logo}}"></div>
        <div class="footer-item"><div class="footer-title">Mind Control Empire</div></div>
        <div class="footer-item">
            <div class="footer-media">
                <a href="https://www.youtube.com/channel/UCUK6PsiimB1Di0hYvg0xXkQ" target="_blank" class="social-link youtube"><div class="link-container"><i fa [name]="'youtube'"></i></div></a>                
                <a href="https://www.instagram.com/mndcntrl" target="_blank" class="social-link instagram"><div class="link-container"><i fa [name]="'instagram'"></i></div></a>
                <a href="https://www.facebook.com/MNDCNTRL" target="_blank" class="social-link facebook"><div class="link-container"><i fa [name]="'facebook'"></i></div></a>
                <a href="https://twitter.com/mnd_cntrl" target="_blank" class="social-link twitter"><div class="link-container"><i fa [name]="'twitter'"></i></div></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
         <div class="row-layout">
            <div class="row-column left"><div class="icon-txt">MIND CONTROL EMPIRE © COPYRIGHT 2015</div></div>
            <div class="row-column right icon"><div class="icon-txt">Site By</div><a href="http://dwjproduction.com/" target="_blank"><img class="site-by-img" src="assets/images/logos/dwj-site-by.png"></a></div>
        </div>
    </div>
</div>