<div class="footer-body">
    <div class="footer-container">
        <div class="footer-item"><img class="footer-logo" src="{{logo}}"></div>
        <div class="footer-item"><div class="footer-title">Mind Control Empire</div></div>
        <div class="footer-item">
            <div class="footer-media">
                <a href="" target="_blank" class="social-link youtube"><div class="link-container"><i fa [name]="'youtube'"></i></div></a>                
                <a href="" target="_blank" class="social-link instagram"><div class="link-container"><i fa [name]="'instagram'"></i></div></a>
                <a href="" target="_blank" class="social-link facebook"><div class="link-container"><i fa [name]="'facebook'"></i></div></a>
                <a href="" target="_blank" class="social-link twitter"><div class="link-container"><i fa [name]="'twitter'"></i></div></a>
            </div>
        </div>
    </div>
</div>