<div class="nav-header fixed-header">
    <div class="nav-container">
        <!-- Logo -->
        <div class="navbar-header">
            <a class="navbar-brand"><img src="assets/images/logos/logoW_text.png" class="logo" alt="Mind Control Empire Logo"></a>
        </div>

        <!-- Full Menu -->
        <div class="navbar-items full">
            <div class="nav-link" *ngFor="let item of navitems"><a>{{item.name}}</a></div>
            <!-- Social Media -->
            <div class="social-links-container">
                <a href="" class="social-link youtube"><i fa [name]="'youtube-play'"></i></a>
                <a href="" class="social-link instagram"><i fa [name]="'instagram'"></i></a>
                <a href="" class="social-link facebook"><i fa [name]="'facebook'"></i></a>
                <a href="" class="social-link twitter"><i fa [name]="'twitter'"></i></a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <div class="navbar-items sidebar">
            <!--<button mat-button (click)="sidenav.toggle()">Toggle</button>-->
        </div>
    </div>
</div>