<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" class="sideNav-container" align="end" fixedInViewport="true" mode="over" disableClose>
        <div class="side-header">
            <div class="nav-link"><a (click)="sidenav.toggle()"><i class="material-icons">&#xE5CD;</i></a></div>
        </div>
        <div class="side-body">
            <div class="nav-link" *ngFor="let item of navitems"><a [href]="item.url">{{item.name}}</a></div>
        </div>        
    </mat-sidenav>

    <mat-sidenav-content>
        <section class="main-content">
            <!-- Header -->
            <my-app-header (toggleEvent)="sidenav.toggle()" [navitems]="navitems"></my-app-header>
        
            <!-- Body -->
            <div class="body-container">                
                <router-outlet></router-outlet>
            </div>
            <!-- Footer -->
            <my-app-footer [navitems]="navitems"></my-app-footer>
        
        </section>
    </mat-sidenav-content>
</mat-sidenav-container>