<section class="page-body home">    
    <div class="carousel-container home-section header-section dark-gradient">
        <div class="carousel-background">
            <div class="color-overlay"></div>
            <gravity-template></gravity-template>
        </div>

        <ngx-carousel [inputs]="carouselOne" (carouselLoad)="loadCarousel('home', $event)" class="mc-carousels home-carousel">
            
            <ngx-item *ngFor="let item of carouselItems" NgxCarouselItem>
                <div class="carousel-page">
                    <div class="carousel-card">
                        <img src="{{item.img}}" class="carousel-card-img" alt="">
                        <img src="{{item.img}}" class="special-card-img" alt="">
                        <div class="card-caption">
                            <h1>{{item.title}}</h1>
                            <p>{{item.text}}</p>
                        </div>
                    </div>
                </div>
            </ngx-item>

            <ngx-item NgxCarouselItem>
                <div class="carousel-page empty-page"></div>
            </ngx-item>

            <div NgxCarouselPrev class="carousel-ctrl prev"><i class="material-icons">&#xE5CB;</i></div>
            <div NgxCarouselNext class="carousel-ctrl next"><i class="material-icons">&#xE5CC;</i></div>
        </ngx-carousel>
    </div>

    <!-- Spotlight Videos -->
    <div class="home-section level2">
        <h1 class="section-title">Spotlight Videos</h1>
        <ngx-carousel [inputs]="carouselTwo" class="mc-carousels tile-carousel c1 spotlight-carousel">        
            <ngx-item *ngFor="let spotlight of spotlightVideos" NgxCarouselItem>
                <div class="spotlight-page">
                    <div class="spotlight-video"><iframe [src]="returnTypeUrl('video', spotlight.urlcode) | safe" frameborder="0" allowfullscreen></iframe></div>
                    <div class="spotlight-info">
                        <div class="spotlight-title">{{spotlight.title}}</div>
                        <div class="spotlight-artist">{{spotlight.artist}}</div>
                    </div>
                </div>
            </ngx-item>

            <div NgxCarouselPrev class="carousel-ctrl prev c1"><i class="material-icons">&#xE5CB;</i></div>
            <div NgxCarouselNext class="carousel-ctrl next c1"><i class="material-icons">&#xE5CC;</i></div>
        </ngx-carousel>
    </div>

    <!-- Word On The Street -->
    <div class="news-section">        
        <div class="news-ctrl prev" (click)="horizontalScroll(-1, 'wordOnTheStreet')" (mouseenter)="scrollActivate(-1, 'wordOnTheStreet')" (mouseleave)="scrollDeactivate()"><i class="material-icons">&#xE5CB;</i></div>
        <div class="news-ctrl next" (click)="horizontalScroll(1, 'wordOnTheStreet')" (mouseenter)="scrollActivate(1, 'wordOnTheStreet')" (mouseleave)="scrollDeactivate()"><i class="material-icons">&#xE5CC;</i></div>        
        <div class="news-container" id="wordOnTheStreet">            
            <a [href]="returnNewsUrl(news.title)" class="news-item-container" *ngFor="let news of newsItems">
                <div class="color-overlay"></div>
                <img [src]="checkimg(news.img)" class="back-img main-img">

                <div class="news-item-content">
                    <div class="section-type">News</div>
                    <div class="item-title">{{news.title}}</div>
                </div>
            </a>
        </div>
    </div>

    <!-- Featured Artist -->
    <div class="featured-artist-section" *ngIf="featuredArtist != null">
        <h1 class="section-title">Featured Artist</h1>

        <div class="feature-banner">
            <div class="color-overlay"></div>
            <img src="{{featuredArtist.bannerImg}}" class="banner-img">
        </div>
        
        <div class="artist-content">
            <h2 class="artist-name">{{ featuredArtist.name }}</h2>
            <div class="artist-media">                
                <a *ngFor="let social of featuredArtist.social" [href]="returnSocialUrl(social) | safe" target="_blank" class="social-link {{social.site}}"><div class="link-container"><i fa [name]="social.site"></i></div></a>
            </div>
            <div class="artist-bio">{{ featuredArtist.bio }} Get to know {{featuredArtist.name}} and see where you can check em out next.</div>

            <a [href]="returnArtistUrl(featuredArtist.name)" class="more-info-btn">More Info</a>
        </div>
    </div>

    <!-- Follow Us -->
    <div class="follow-us-section">
        <h1 class="section-title">Follow Mind Control Empire</h1>

        <!-- Social Media -->
        <div class="social-links-container">
            <a href="https://www.youtube.com/channel/UCUK6PsiimB1Di0hYvg0xXkQ" target="_blank" class="social-link youtube"><i fa [name]="'youtube-play'"></i></a>
            <a href="https://www.instagram.com/mndcntrl" target="_blank" class="social-link instagram"><i fa [name]="'instagram'"></i></a>
            <a href="https://www.facebook.com/MNDCNTRL" target="_blank" class="social-link facebook"><i fa [name]="'facebook'"></i></a>
            <a href="https://twitter.com/mnd_cntrl" target="_blank" target="_blank" class="social-link twitter"><i fa [name]="'twitter'"></i></a>
        </div>  
    </div>
</section>