<section class="page-body innerpage contactus">    
    <div class="inner-banner">
        <div class="banner-background">
            <div class="color-overlay"></div>
            <div class="back-img" [ngStyle]="{ 'background-image':'url('+backimg+')'}"></div>
        </div>
        <h1 class="banner-title">Contact Us</h1>        
    </div>

    <div class="inner-section">
        <div class="contact-card">
            <div class="card-title">For Music Information Or Booking Inquiries:</div>
            <div class="card-email"><a href="mailto:MindControlEmpire@gmail.com">MindControlEmpire@gmail.com</a></div>
            
            <div class="card-title">Follow Us:</div>
            <div class="social-links-container">
                <a href="https://www.youtube.com/channel/UCUK6PsiimB1Di0hYvg0xXkQ" target="_blank" class="social-link youtube"><i fa [name]="'youtube-play'"></i></a>
                <a href="https://www.instagram.com/mndcntrl" target="_blank" class="social-link instagram"><i fa [name]="'instagram'"></i></a>
                <a href="https://www.facebook.com/MNDCNTRL" target="_blank" class="social-link facebook"><i fa [name]="'facebook'"></i></a>
                <a href="https://twitter.com/mnd_cntrl" target="_blank" target="_blank" class="social-link twitter"><i fa [name]="'twitter'"></i></a>
            </div>
            
            <div class="card-img"><img [src]="cardimg"></div>
        </div>
    </div>
</section>