<section class="page-body innerpage events">    
    <div class="inner-banner">
        <div class="banner-background">
            <div class="color-overlay"></div>
            <div class="back-img" [ngStyle]="{ 'background-image':'url('+backimg+')'}"></div>
        </div>
        <h1 class="banner-title">Events</h1>        
    </div>

    <div class="inner-section">
        <div class="inner-back" [ngStyle]="{ 'background-image':'url('+coverimg+')'}"></div>
        <div class="event-container">
            <div class="event-header">
                <p>Mind Control Empire Events</p>
            </div>
            <div class="event-list">        
                <div class="mc-item {{ checkDate(event.date) }}" *ngFor="let event of events; let i = index">
                    <div class="date-year" *ngIf="displayYear(i)">{{event.date | date: 'yyyy'}}</div>
                    <div class="event-page">
                        <div class="event-date">
                            <div class="day">{{event.date | date: 'dd'}}</div>
                            <div class="month">{{event.date | date: 'MMM'}}</div>
                            <div class="time">{{event.date | date: 'h a'}}</div>
                        </div>
                        <div class="event-info">
                            <div class="event-title">{{event.name}}</div>
                            <div class="event-details">                                
                                <span class="location">{{event.location}}</span>
                            </div>
                            <div class="artist-name">{{event.artistname}}</div>                                                    
                        </div>
                    </div>
                </div>                 
            </div> 
        </div>
    </div>
</section>