@import (reference) "./app/variables.less";
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans+Condensed:300|Oswald|Oxygen');

body {
    height: 100%;
    color: rgba(255,255,255,1);
    background-color: @color5;
    font-size: @font-size;

    /*font-family: 'Oswald', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Fjalla One', sans-serif;*/
    font-family: 'Oxygen', sans-serif;
}

.body-container {
    padding-top: 100px;
}