@import (reference) "./app/variables.less";
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Fjalla+One|Open+Sans+Condensed:300|Oswald|Oxygen');

body, html {
    height: 100%;
    color: rgba(0,0,0,1);
    background-color: rgba(255,255,255,1);
    font-size: @font-size;
    margin: 0px;

    /*font-family: 'Oswald', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Fjalla One', sans-serif;*/
    font-family: 'Oxygen', sans-serif;
}


*:focus { outline: none;}

.body-container {
    //padding-top: 90px;
    min-height: 100vh;
}

.sideNav-container {
    background: rgba(0,0,0,1);
    min-width: 50% !important;
    .side-header {
        height: 93px;
        text-align: center;
        .color5(background, 0.5);      
        display: flex;
        .nav-link {
            font-size: 1.5rem;            
            width: 100%;
            text-align: center;
            position: relative;
            margin: auto 0px;
            transition: 0.5s all ease;
            text-align: center;
            cursor: pointer;
            &:focus { color: @color1; .color5(background, 0.5); }            
        }       
    }
    .side-body {
        .nav-link {
            font-size: 1.4rem;            
            padding: 20px;
            position: relative;
            margin: auto 0px;
            transition: 0.5s all ease;
            text-align: center;
            cursor: pointer;
            &:hover { color: @color1; .color5(background, 0.5); }            
        }
    }
}

.page-body {
    min-height: 100vh;
    .header-section {
        padding-top: 90px;
    }
}

// carousel
.carousel {
    .carousel-inner {
        height: 100%;
        overflow: visible;
        .carousel-item { 
            height: 100%;
            display: flex !important;
            position: absolute;
            opacity: 0;
            visibility: hidden;
            transition: opacity 2s ease-in-out, visibility 2s;
            z-index: -1;

            &.active {
                opacity: 1;
                visibility: visible;
                z-index: 1;
            }
        }
    }
    .carousel-control-prev { z-index: 3; }
    .carousel-control-next { z-index: 3; }
    .carousel-indicators{ z-index: 3;  }
}

/* Background Themes */
.dark-gradient {
    background: @color5; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(135deg, rgba(30,30,30,1), @color5, rgba(30,30,30,1)); 
    background: -o-linear-gradient(135deg, rgba(30,30,30,1), @color5, rgba(30,30,30,1)); 
    background: -moz-linear-gradient(135deg, rgba(30,30,30,1), @color5, rgba(30,30,30,1)); 
    background: linear-gradient(135deg, rgba(30,30,30,1), @color5, rgba(30,30,30,1)); 
}